body{
background:#f5f6fa;
font-family:Arial;
}

.sidebar{
position:fixed;
width:220px;
height:100%;
background:#c40000;
padding:20px;
color:white;
}

.sidebar .logo{
margin-bottom:30px;
font-weight:bold;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:10px;
border-radius:6px;
margin-bottom:5px;
}

.sidebar a:hover{
background:#990000;
}

.content{
margin-left:240px;
padding:30px;
}

.stat-card{
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.panel-card{
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.08);
margin-bottom:20px;
}

.score{
font-size:30px;
font-weight:bold;
color:#c40000;
}

table{
background:white;
}

.btn-danger{
background:#c40000;
border:none;
}

.btn-danger:hover{
background:#990000;
}

.progress-bar {
    transition: width 0.5s ease;
}